@import "./variables.scss";
@import "./fontello/fontello.scss";
@import "./pentatrion-theme.scss";
@import "./cropper.scss";

.mini-file-manager {
  * {
    box-sizing: border-box;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

div.mini-notifier-container {
  z-index: 3000;
}
