@import "./variables.css";
@import "./fontello/fontello.css";
@import "./pentatrion-theme.css";
@import "./cropper.css";

.mini-file-manager {
  * {
    box-sizing: border-box;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
