/*************
 * Variables *
 *************/

.mini-file-manager-vars {

  // vars commented are not used

  // --mfm-primary-color50: var(--primary-color50, #FFFCEB);
  --mfm-primary-color100: var(--primary-color100, #fff9d2);
  --mfm-primary-color200: var(--primary-color200, #ffed7e);
  --mfm-primary-color300: var(--primary-color300, #FFF194);
  // --mfm-primary-color400: var(--primary-color400, #FFEC70);
  --mfm-primary-color500: var(--primary-color500, #ffe64b);
  --mfm-primary-color: var(--primary-color, #ffe64b);
  // --mfm-primary-color600: var(--primary-color600, #FFDE0A);
  --mfm-primary-color700: var(--primary-color700, #D6B600);
  // --mfm-primary-color800: var(--primary-color800, #D6B600);
  // --mfm-primary-color900: var(--primary-color900, #BDA000);
  --mfm-primary-color-text: var(--primary-color-text, #000000);

  --mfm-grey50: var(--grey50, #e7e7e7);
  --mfm-grey200: var(--grey200, #ccc);
  --mfm-grey: var(--grey, #999);
  --mfm-grey700: var(--grey700, #333);

  --mfm-form-border-radius: var(--form-border-radius, 0.25rem);

  --mfm-transition-border: var(--transition-border, border-color 0.3s ease);
  --mfm-transition-background: var(--transition-background, background-color 0.3s ease);
  --mfm-transition-color: var(--transition-color, color 0.3s ease);
  --mfm-transition-opacity: var(--transition-opacity, opacity 0.3s ease);
  --mfm-box-shadow: var(--box-shadow, 0 0 48px rgba(0, 0, 0, 0.075));

  --mfm-background-color: var(--background-color, rgba(255, 255, 255, .75));
  --mfm-red50: var(--red50, #f8d7da);
  --mfm-red-text: var(--red-text, #dc3545);
}


/****************************************
 * mini-file-manager internal variables *
 ****************************************/

.mini-file-manager {
  --main-content-padding: 1rem;

  --aside-icon-width: 3rem;
  --aside-text-width: 8rem;
  --aside-item-padding: 0.5rem;

  --aside-width: calc(var(--aside-icon-width) + 2 * var(--aside-item-padding));
  --aside-width-expanded: calc(var(--aside-icon-width) + var(--aside-text-width) + 2 * var(--aside-item-padding));

  --aside-r-width: 300px;

  --tooltip-border-radius: 5px;
  --tooltip-color: var(--mfm-primary-color300);
  --tooltip-text-color: white;
  --tooltip-font-size: 12px;
  --tooltip-move: 4px;
}
