.form-group {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin: 1.5rem 0;

  > label {
    display: block;
    margin: 4px 0;
    font-size: .9rem;
    font-weight: bold;
  }
  > input {
    display: block;
  }
  .help-text {
    color: $gray;
    font-size:.9rem;
  }  
}

// pour les checkbox
.form-group {
  div {
    > label {
      margin: 4px 10px 4px 0;
      font-size: .9rem;
      font-weight: bold;
    }
  }

  .thumbnail {
    margin: .5rem 0;
  }

  table {
    width: auto;
  }
}

.danger-zone {
  border: 1px solid $lightGray;
  padding: 1rem;
  background-color: $redLight;
  border-radius: $borderRadius;
}