.form-input, .form-select, .form-textarea {
  appearance: none;
  padding: .5rem;
  border-radius: $borderRadius;
  border: 1px solid $extraLightGray;
  font-size: 1rem;
  background-color: #ffffff;
  @include transition-input;

  &:hover {
    border-color: $lightGray;
  }
  &:focus {
    border-color: $yellowDark;
    box-shadow: #{$ringShadow}, #{$shadow};
    outline: none;

    body.with-accessibility & {
      box-shadow: 0 0 0 2px white, 0 0 0 4px #{$yellowDark};
      border-color: $extraLightGray;
      outline: none;
    }
  }

  &.is-invalid {
    border-color: $red;
  }

  &:disabled {
    border: 1px solid $extraLightGray;
    background-color: $extraLightGray;
    cursor: not-allowed;
  }
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23333333' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-size: 1.5rem 1.5rem;
  background-position: right .5rem center;
  background-repeat: no-repeat;
  padding-right: 2.5rem;
}

.input-error {
  font-size: .8rem;
  color: $red;
  margin-top: .25rem;
}

div.EasyMDEContainer {
  .editor-toolbar {
    border: 1px solid $extraLightGray;
    border-bottom: 0;
  }
  .CodeMirror {
    border: 1px solid $extraLightGray;
    &:hover {
      border-color: $lightGray
    }
    &.CodeMirror-focused {
      border-color: $yellowDark;

      body.with-accessibility & {
        box-shadow: 0 0 0 2px white, 0 0 0 4px #{$yellowDark};
        border-color: $extraLightGray;
        outline: none;
      }
    }
  
  }
  .editor-statusbar .lines::before {
    content: 'lignes: ';
  }
  .editor-statusbar .words::before {
    content: 'mots: ';
  }

  .editor-preview {
    padding: 14px;
  }
}



.admin-aside-r {

  input[type="text"] {
    height: auto;
    padding: .375rem;
    width: 100%;
    border-radius: 3px;
  }
}

