$backgroundColor: #fbfcff;

$adminNavHeight: 46px;

$adminContainerPadding: 2.5rem;

$asideIconWidth: 40px;
$asideTextWidth: 140px;
$asideItemPadding: 10px;

$asideRWidth: 300px;

$asideWidth: $asideIconWidth + 2*$asideItemPadding;
$asideWidthExpanded: $asideIconWidth + $asideTextWidth + 2*$asideItemPadding;

$primaryColor: #222233;
$secondaryColor: #888888;

$extraLightGray: #eee;

$lightGray: #ddd;
$gray: #999;
$grayDark: #777;
$blackLight: #333;

$yellowLight: #fffbe4;
$yellow: #ffea66;
$yellowDark: #eac800;

$greenLight: #d1eacf;
$green: #2b5229;

$red: #dc3545;
$red: #842029;
$redLight: #f8d7da;

$orange: rgb(217, 142, 1);

$blueLight: #e6e8ef;
$bluePrestashop: #bbcdd2;

$borderRadius: .25rem;

$shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$ringShadow: 0 0 0px 3px #eee;

@mixin transition {
  transition: all .15s ease;
}
@mixin transition-input {
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) 